<section id="search-modal" class="search-modal">
    <div class="icon-container"><i class="fas fa-times-circle close"></i></div>
    <form action="#">
            <input type="search" name="search" id="search" >
            <button>GO</button>
    </form>
</section>