<nav id="sections-sidebar" class="sections-sidebar"> <!--nav used to house the links-->
    <ul> <!--create the list-->
        <li class="dropdown">San Francisco <!--first category (San Francisco) is within a dropdown class; notice how it isn't within a list-->
            <ul> <!--create another list within a list-->
                <li class="subheader">San Francisco</li> <!--all items within the sub-menu are listed below-->
                <li>Students</li>
                <li>Teaching Assistants</li>
                <li>Instructors</li>
                <li>Career Advisors</li>
                <li>Cats</li>
            </ul>
        </li>
        <li class="dropdown">Bootcamp Prep
            <ul>
                <li class="subheader">San Francisco</li>
                <li>Students</li>
                <li>Instructors</li>
                <li>Cats</li>
            </ul>
        </li>
        <li class="dropdown">Online
            <ul>
                <li class="subheader">Online</li>
                <li>Immersive</li>
                <li>Bootcamp Prep</li>
                <li>Cats</li>
            </ul>
        </li>
        <li class="dropdown">Sales
            <ul>
                <li class="subheader">Sales</li>
                <li>Associates</li>
                <li>Analytics</li>
                <li>Cats</li>
            </ul>
        </li>
        <li class="dropdown">Alumni
            <ul>
                <li class="subheader">Alumni</li>
                <li>Students</li>
                <li>Companies</li>
                <li>Opinions</li>
                <li>Cats</li>
            </ul>
        </li>
    </ul>
</nav>